<div class="container-fluid mainContent" style="height: 100%;">
    <div class="row">
        <div class="col-12 col-md-7 margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10" align="center"><h4>Информация о визах в Азию</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Азиатские страны уже давно привлекают туристов, но для их посещения необходимо оформить визу
                            в Азию. Перед поездкой в страну, не забудьте получить визу в Азию. Наиболее популярные виды
                            виз — транзитная виза в Азию, туристическая виза в Азию, деловая виза в Азию. И каждый из
                            них обладает своими особенностями оформления. Как правило, туристическая виза в Азию
                            действительна не более одного месяца. Транзитная виза дает право въезда на территорию страны
                            и использовать ее территорию в качестве транзитной. А рабочая виза в Азию выдается для
                            осуществления деловых поездок.</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10" align="center"><h4>Документы</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Необходимые документы для оформления виз в страны Азии для каждой страны индивидуальны.</p>
                        <p style="font-weight: bold">Общий обязательный список документов следующий:</p>
                        <ul>
                            <li>заграничный паспорт</li>
                            <li>2 цветные фотографии определенного формата</li>
                            <li>анкета туриста</li>
                            <li>выписка из банка о состоянии счета</li>
                            <li>справка с места работы</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-5  margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10"><h4>Цена виз:</h4></div>
                    <div class="col-12">
                        <p>Цена на визы в Азию напрямую зависит от направления (конкретной страны), в которую Вы хотите
                            полететь.
                            Средняя цена на оформление визы в Азию составляет 100 USD. Безусловно, кроме направления
                            поездки, существуют и другие факторы, которые влияют на цену визы в Азию. В первую очередь,
                            речь идет о сроке получения визы. В посольстве прописана конкретная цена на визу, в
                            зависимости от времени, за которое вы хотите ее оформить: Вы можете получить визу в Азию,
                            как за 1 день, так и за 30, с момента подачи заявления.

                            Срок оформления визы в Азию зависит лишь от Вашего желания и финансовых возможностей.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <h4>Сроки получения:</h4>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li>сингапур от 3 до 4 дней.</li>
                            <li>объединенные Арабские Эмираты от 3 до 5 дней.</li>
                            <li>таиланд от 3 до 5 дней.</li>
                            <li>индия 4 дня.</li>
                            <li>вьетнам 2 либо 5-6 дней (в зависимости от желаемого срока пребывания).</li>
                            <li>китай от 5 до 7 дней.</li>
                            <li>тайвань 6 дней.</li>
                            <li>япония от 6 до 8 дней.</li>
                            <li>иран от 25 до 30 дней.</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>