<div class="container-fluid mainContent" style="height: 100%;">
    <div class="row">
        <div class="col-12 col-md-7 margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10" align="center"><h4>Информация о визе в Австралию</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Виза в Австралию выдается Австралийской Высокой Комиссией (Australian High
                            Commission), которая располагается в Лондоне. Все необходимые документы пересылаются по
                            почте, и личное присутствие аппликанта не требуется. С одной стороны, это помогает исключить
                            ошибки во время собеседования, с другой стороны, чтобы оформить визу в Австралию, требуется
                            ждать не только рассмотрения заявки, но и доставки необходимых документов.</p>
                        <p>Размер оплачиваемого сбора зависит от категории визы. Минимальная сумма равна 140 AU$ и
                            взимается при оформлении туристической, бизнес, гостевой и др. виз.</p>
                        <p>Время рассмотрения заявки и принятия решения зависит от категории визы. Как правило, ответ
                            приходит в течение трех недель</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10" align="center"><h4>Документы</h4></div>
                    <div class="col-12 padding-top10">
                        <p>В зависимости от категории запрашиваемой визы и целей Вашей поездки Консульство потребует те
                            или иные документы. К их подготовке следует подойти со всей ответственностью, ведь именно на
                            основании пакета документов принимается решение.</p>
                        <p style="font-weight: bold">Общий обязательный список документов следующий:</p>
                        <ul>
                            <li>загранпаспорт</li>
                            <li>при наличии второго действующего загранпаспорта – копия паспорта со всеми визами, если
                                были;
                            </li>
                            <li>гражданский паспорт</li>
                            <li>копия идентификационного кода</li>
                            <li>цифровое фото</li>
                        </ul>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Гостевая</p>
                    </div>
                    <div class="col-12">
                        <p>Выдается для осуществления поездок с целью отдыха, встречи с родственниками и друзьями,
                            путешествий, а также прохождения обучающих программ, сроком не более трёх месяцев. Гостевая
                            виза в Австралию для украинцев может быть оформлена, если в этой стране у Вас есть
                            родственники или друзья, которые готовы прислать приглашение, оплатить Вашу поездку и
                            пребывание на территории Австралии, а также выступить гарантом того, что Вы вернетесь на
                            родину. Эта категория визы не дает права работать, заниматься бизнесом или любой другой
                            деятельностью с целью получения дохода</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-5  margin-top15" style="padding: 5px">
            <div class="container">

                <div class="row blockC">
                    <div class="col-12 padding-top10"><h4>Виды виз:</h4></div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Туризм C</p>
                    </div>
                    <div class="col-12">
                        <p>дает право посещать эту страну с целью отдыха, путешествия, осмотра достопримечательностей,
                            ознакомления с местной культурой и природой, а также прохождения обучающих курсов, длящихся
                            не более 3 месяцев. Чтобы получить туристическую визу, предстоит убедить визового офицера,
                            что Вы не намерены оставаться в Австралии дольше установленного срока и Ваши связи с родиной
                            достаточно сильны.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Бизнес</p>
                    </div>
                    <div class="col-12">
                        <p>Если Вы планируете посетить «зеленый континент» с деловыми целями, то следует получить бизнес
                            визу в Австралию. Этот тип визы открывают для проведения деловых мероприятий и встреч,
                            налаживания деловых контактов и пр. Цели Вашей поездки обязательно должны совпадать с
                            профессиональной деятельностью.</p>
                        <p>Заявители должны отвечать следующим требованиям:</p>
                        <ui>
                            <li>цель поездки должна совпадать с родом деятельности</li>
                            <li>иметь достаточно денег для поездки и содержания себя на время пребывания в Австралии
                            </li>
                            <li>намерения вести бизнес деятельность (вести переговоры, посещение конференций, семинаров
                                и другое) на территории Австралии
                            </li>
                            <li>род деятельности приглашающей стороны должен иметь отношение к Вам и Вашей
                                деятельности
                            </li>
                            <li>бизнес деятельность осуществляется в рамках закона</li>
                        </ui>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Студенческая</p>
                    </div>
                    <div class="col-12">
                        <p>Студенческая виза в Австралию потребуется, если Вы намерены в этой стране пройти любую
                            учебную программу, сроком более трех месяцев. Студенческие визы объединяет подкласс 500, а
                            лица, которые сопровождают несовершеннолетних обучающихся, могут получить визу подкласса
                            590.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>