<div class="container-fluid mainContent" style="height: 100%;">
    <div class="row">
        <div class="col-12 col-md-7 margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10" align="center"><h4>Информация о визе в Китай</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Для легального пребывания на территории Китайской народной республики необходимо сделать
                            китайскую визу. Процедура ее получения довольно специфическая и сложная. Заполнение
                            некоторых обязательных документов происходит исключительно на китайском языке. Пакет
                            документов, ровно, как и требования, сильно отличается в зависимости от типов визы. Более
                            того, подача документов происходит исключительно в консульстве Китайской Народной Республики
                            в городе Киев, в строго определенное дни и время.</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10" align="center"><h4>Документы</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Для пересечения границ Китая всем гражданам обязательно необходимо заранее оформить
                            документы для визы в Китай и открыть саму визу в КНР.</p>
                        <p style="font-weight: bold">Основные документы, которые требуются для получения визы в
                            Китай:</p>
                        <ul>
                            <li>Заграничный паспорт Оригинал</li>
                            <li>Фотография - 1 шт.</li>
                            <li>Гражданский паспорт и ИНН</li>
                            <li>Справка из банка о наличии средств на счету - если нет работы (остаток на счету не
                                меньше 1500$)
                            </li>
                            <li>Справка с места работы</li>
                            <li>Документы, подтверждающие цель поездки</li>
                            <li>Визовая анкета</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-5  margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10"><h4>Виды виз:</h4></div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Туристическая L</p>
                    </div>
                    <div class="col-12">
                        <p>Туристическая виза в Китай дает право посещать КНР в туристических целях. Туристическая виза
                            в Китай (виза категории L) дает право посещать КНР в туристических целях.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Бизнес M</p>
                    </div>
                    <div class="col-12">
                        <p>Для поездок в бизнес – целях или с целью посещения ярамарок и выставок в Китае необходимо
                            оформляется бизнес виза в Китай. Бизнес виза в Китай необходима для работников компаний,
                            которые приезжают в Китай с целью покупки оборудования, подписания контрактов,
                            предпринимателям, целью приезда которых в Китай является ведение бизнеса.</p>
                        <p>Бизнес виза в Китай, также как и туристическая, может быть оформленной как для одного въезда,
                            так и для двух, а также для многоразовых посещений.</p>

                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Студенческая X1/X2</p>
                    </div>
                    <div class="col-12">
                        <p>Студенческая виза в Китай выдается для иностранцев, проходящих или планирующих проходить
                            обучение в Китае. Студенческая виза в Китай необходима всем иностранцам, вне зависимости от
                            продолжительности учебной программы. Всего для учащихся в стране предусмотрено два типа виз
                            – X1 и X2, отличающихся в первую очередь сроком пребывания в стране. X1 - 360 дней. X2 -
                            180.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Рабочая Z</p>
                    </div>
                    <div class="col-12">
                        <p>Рабочая виза в Китай предоставляет право вести трудовую деятельность на территории Китая. Для
                            оформления данного типа визы необходимо предоставить ряд документов, полученных от компании,
                            куда человек планирует трудоустроится. В первую очередь – это приглашение от китайского
                            работодателя. К нему прилагаются копия лицензии китайской компании о ее регистрации,
                            оригинал разрешения на работу в Китае, справку о медосмотре. Поскольку именно рабочая виза в
                            Китай является тем типом визы, с которой Вы можете официально трудоустроиться, то процесс ее
                            оформление может затянуться дольше во времени нежели изначально планировалось.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>