<div class="container-fluid mainContent" style="height: 100%;">
    <div class="row">
        <div class="col-12 col-md-7 margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10" align="center"><h4>Информация о визе в Великобританию</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Британская виза оформляется по определенному алгоритму с четкой последовательностью действий.
                            Первый и очень важный этап – это выбор верной категории визы, исходя из которой
                            подготавливаются необходимые документы. Все бумаги должны быть составлены на английском
                            языке или переведены в установленном порядке.</p>
                        <p>После этого следует заполнить анкету в электронном виде на сайте Консульства и выбрать время
                            для личной сдачи биометрических данных в Визовый центр посольства Великобритании. Прежде чем
                            подать документы на визу в Англию, необходимо оплатить консульский сбор. Затем в выбранную
                            дату следует посетить Визовый Центр. В некоторых случаях потребуется пройти
                            собеседование.</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10" align="center"><h4>Документы</h4></div>
                    <div class="col-12 padding-top10">
                        <p>В зависимости от категории запрашиваемой визы и целей Вашей поездки Консульство потребует те
                            или иные документы. К их подготовке следует подойти со всей ответственностью, ведь именно на
                            основании пакета документов принимается решение.</p>
                        <p style="font-weight: bold">Общий обязательный список документов следующий:</p>
                        <ul>
                            <li>загранпаспорт</li>
                            <li>при наличии второго действующего загранпаспорта – копия паспорта со всеми визами, если
                                были;
                            </li>
                            <li>гражданский паспорт</li>
                            <li>копия идентификационного кода</li>
                            <li>цифровое фото</li>
                        </ul>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Транзит</p>
                    </div>
                    <div class="col-12">
                        <p>Считается одной из самых простых в получении и оформляется на основании уже выданной визы
                            другой страны. Она представляет собой разрешение при транзитной поездке покидать аэропорт и
                            находиться на территории Британии до 48 часов. Транзитная виза в Англию не выдается на месте
                            и не продлевается.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Для артистов</p>
                    </div>
                    <div class="col-12">
                        <p>Предназначена для людей, которые планируют посетить какой-либо фестиваль искусств или
                            музыкальное мероприятие, принять участие в благотворительной встрече или конкурсе. Она может
                            быть открыта участникам любых культурных мероприятий, но для этого необходимо документально
                            подтвердить цель визита и не иметь намерения заниматься другой деятельностью на территории
                            страны.</p>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-12 col-md-5  margin-top15" style="padding: 5px">
            <div class="container">

                <div class="row blockC">
                    <div class="col-12 padding-top10"><h4>Виды виз:</h4></div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Туризм C-Visit</p>
                    </div>
                    <div class="col-12">
                        <p>Является одной из самых часто оформляемых категорий виз в Соединенное Королевство. Она
                            предусматривает разрешение на въезд в страну с целью осмотра достопримечательностей, отдыха,
                            шопинга, посещения фестивалей, выставок, музеев, спортивных и музыкальных мероприятий и пр.
                            Оформив этот тип визы, Вы не получаете право работать или учиться.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Бизнес</p>
                    </div>
                    <div class="col-12">
                        <p>Выдаётся заявителем, которые планируют поездку с целью: проведение переговоров, экономическое
                            сотрудничество, подписание контракта, посещение конференций, симпозиумов или тренингов. Срок
                            действия бизнес визы в Англию, чаще всего, составляет 6 месяцев, реже – 1-2 года или 5 лет.
                            Этот тип визы не предусматривает долгосрочного пребывания в
                            стране и не дает права на проживание, но разрешает многократно пересекать границу.
                            Количество и частота въездов не ограничивается</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Студенческая</p>
                    </div>
                    <div class="col-12">
                        <p>Оформляется для прохождения языковых или других обучающих курсов (экономика, менеджмент,
                            право, живопись и пр.) длительностью не более полугода. Виза дает право пребывания на
                            территории Великобритании, Северной Ирландии, Уэльса, Шотландии</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Гостевая</p>
                    </div>
                    <div class="col-12">
                        <p>Выдаётся заявителям, которые планируют посетить знакомых, родственников или друзей,
                            проживающих на территории Великобритании. Подавать документы в консульство Вы можете только
                            при наличии официального приглашения от того, кто легально проживает на территории Англии
                            или резидента страны. Гостевая виза в Британию может быть открыта на период от 6 месяцев до
                            10 лет, что будет зависеть от цели поездки, указанной в визовой анкете.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Спорт</p>
                    </div>
                    <div class="col-12">
                        <p>Предоставляется заявителям, которые хотят принять участие в спортивном мероприятии на
                            территории Великобритании. Британская виза для спортсменов может быть открыта на срок до 6
                            месяцев с возможностью многократного или однократного въезда. От желаемого периода
                            пребывания внутри страны и цели поездки будет зависеть размер консульского сбора.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>