<div class="container-fluid mainContent" style="height: 100%;">
    <div class="row">
        <div class="col-12 col-md-7 margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10" align="center"><h4>Информация о шенгенской визе</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Шенгенская виза – это документ, выданный компетентными органами заинтересованному лицу для
                            посещения стран шенгенской зоны. Шенгенская зона состоит из 26 стран, которые разрешили
                            свободное передвижение своим гражданам внутри этой зоны, как в одной стране. Из 26 стран,
                            заключивших шенгенское соглашение, 22 входят в ЕС, другие 4 – в ЕАСТ.</p>
                        <p>Шенгенская зона включает основные европейские страны, кроме Великобритании. Такие страны, как
                            Румыния, Болгария, Хорватия, Кипр и Ирландия скоро подпишут соглашение. Однако есть страны,
                            которые не являются частью ЕС, например, Норвегия, Исландия, Швейцария и Лихтенштейн, но
                            входят в шенгенскую зону и соблюдают политику свободного передвижения.</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10" align="center"><h4>Документы</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Подавать документы можно не раньше, чем за три месяца до начала поездки, но желательно не
                            позже, чем за 15 дней.</p>
                        <p style="font-weight: bold">Основные документы, которые требуются для получения шенгенских
                            виз:</p>
                        <ul>
                            <li>заполненная и подписанная форма заявления на получение визы</li>
                            <li>заграничный паспорт</li>
                            <li>копия заграничного паспорта</li>
                            <li>копия внутреннего паспорта</li>
                            <li>две или три цветные фотографии размером 3,5 × 4,5 см</li>
                            <li>две или три цветные фотографии размером 3,5 × 4,5 см</li>
                            <li>визовый сбор</li>
                            <li>медицинская страховка</li>
                            <li>для несовершеннолетних заявителей: копия свидетельства о рождении, согласие родителя,
                                копия действующей шенгенской визы родителя, путешествующего с несовершеннолетним
                            </li>
                            <li>отпечатки всех пальцев рук (не требуются детям до 12 лет);</li>
                            <li>подписанное «Согласие на обработку личных данных».</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5  margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10"><h4>Виды виз:</h4></div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Категория А.</p>
                    </div>
                    <div class="col-12">
                        <p>Аэропортовая транзитная виза. Выдается тем, кто совершает авиаперелёт транзитом через страну
                            Шенгенской группы.</p>
                    </div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Категория B.</p>
                    </div>
                    <div class="col-12">
                        <p>Транзитная виза, дающая владельцу право один раз пересечь территорию одного из государств,
                            причем продолжительность транзитного пребывания не может превышать пяти дней.</p>
                    </div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Категория С.</p>
                    </div>
                    <div class="col-12">
                        <p>Туристическая виза. Общая продолжительность нескольких пребываний, начиная с момента первого
                            въезда, не может превышать трех месяцев в течение полугода.</p>
                    </div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Категория D.</p>
                    </div>
                    <div class="col-12">
                        <p>Национальные визы на срок пребывания, превышающий 3 месяца.</p>
                    </div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Категория C+D.</p>
                    </div>
                    <div class="col-12">
                        <p>Такая виза выдается одним из Шенген государств для долгосрочного пребывания, однако позволяет
                            ее держателям беспрепятственно перемещаться по всем странам-членам Шенгенского договора.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>