<div class="container-fluid mainContent" style="height: 100%;">
    <div class="row">
        <div class="col-12 col-md-7 margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10" align="center"><h4>Информация о визе в США</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Вне зависимости от целей поездки в Америку украинцам следует заблаговременно позаботиться о
                            получении визы в США. Подача заявления возможна не ранее, чем за три месяца до планируемого
                            посещения страны. Процесс оформления визы в США включает несколько этапов, в том числе сдачу
                            биометрических данных и прохождение собеседования. Малейшая ошибка или оплошность, даже
                            совершенная по невнимательности и незнанию, чревата отказом</p>
                        <p>Виза в США оформляется в срок от 10 до 14 дней в зависимости от наличия очереди в Посольстве.
                            После окончания собеседования Ваш паспорт остается у визового офицера. Когда полученная виза
                            США будет вклеена, документ отправят Вам курьерской службой TMM Express. На это уйдет
                            несколько рабочих дней. Чтобы получить визу в США в короткие сроки, обращайтесь к
                            специалистам компании VisaPlus</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10" align="center"><h4>Документы</h4></div>
                    <div class="col-12 padding-top10">
                        <p>Для принятия решения по Вашему обращению визовому офицеру необходимо увериться, что Вы не
                            имеете иммиграционных намерений и покинете США, достигнув цели поездки. Для этого следует
                            предоставить документы на визу в США, список которых отличается для различных категорий виз.
                            При этом в перечень обязательных документов входят:</p>
                        <p style="font-weight: bold">Основные документы, которые требуются для получения шенгенских
                            виз:</p>
                        <ul>
                            <li>Подтверждение, что Ваша анкета зарегистрирована;</li>
                            <li>Загранпаспорт</li>
                            <li>Квитанция об уплате консульского сбора</li>
                            <li>Подтверждение успешной записи на собеседование.</li>
                        </ul>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Студенческая F1</p>
                    </div>
                    <div class="col-12">
                        <p>Представляет собой один из наиболее популярных видов виз, который позволяет обучаться в
                            аккредитованных учреждениях Штатов. Эта категория визы относится к многократным и
                            предоставляет возможность осуществления нескольких поездок в Америку.</p>
                    </div>
                </div>
                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Рабочая H1</p>
                    </div>
                    <div class="col-12">
                        <p>Предполагает разрешение на работу для высококвалифицированных специалистов, которых
                            пригласили в американскую компанию</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Транзитная C1</p>
                    </div>
                    <div class="col-12">
                        <p>Выдаётся гражданам Украины, которые направляются в иностранные государства с пересадкой на
                            территории США. Эта категория визы дает право находиться на территории страны сроком до 29
                            дней. Если у Вас уже оформлена виза категории B, то транзитную визу открывать не нужно.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Религиозная R1</p>
                    </div>
                    <div class="col-12">
                        <p>Выдаётся религиозными работниками для посещения территории США на временной основе, согласно
                            закону об иммиграции и гражданстве США §101(a)(15)(R) для выполнения различного рода
                            религиозной работы. Выдается на три года.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Виза невесты K-1</p>
                    </div>
                    <div class="col-12">
                        <p>выдаётся для посещения Штаты для заключения брака с гражданином США. Эта категория визы
                            обязывает вступить в брак на протяжении 90 дней по прибытии в Америку.</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Виза моряка C1/D</p>
                    </div>
                    <div class="col-12">
                        <p>оформляют морякам, пилотам, стюардессам, обслуживающему персоналу или членам экипажа, которые
                            транзитом пересекают территориальные воды или воздушное пространство Штатов.</p>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-12 col-md-5  margin-top15" style="padding: 5px">
            <div class="container">
                <div class="row blockC">
                    <div class="col-12 padding-top10"><h4>Виды виз:</h4></div>
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Туризм B1/B2</p>
                    </div>
                    <div class="col-12">
                        <p>Один из самых распространенных типов визы. Ее выдают аппликантам, планирующим посетить Штаты
                            для туристических с целью туризма, осмотра достопримечательностей и отдыха</p>
                        <p>Туристическая виза в США В2 дает право посетить страну для</p>
                        <ui>
                            <li>проведения отпуска</li>
                            <li>посещения родственников, друзей</li>
                            <li>транзита через территорию США</li>
                            <li>участия в соц мероприятиях</li>
                        </ui>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Бизнес B1</p>
                    </div>
                    <div class="col-12">
                        <p>Выдается аппликантам, которые намерены осуществить краткосрочный визит в Америку для
                            подписания делового контракта, проведения переговоров, посещения профессиональных, деловых,
                            образовательных или научных мероприятий. Во время одного визита можно находиться на
                            территории Штатов не более 180 суток.</p>
                        <p>Бизнес виза в США может быть оформлена, если:</p>
                        <ui>
                            <li>участия в переговорах и проведения консультаций с бизнес-партнерами;</li>
                            <li>посещения деловых, образовательных, научных, профессиональных мероприятий</li>
                            <li>участия или посещения конференций</li>
                            <li>ознакомления с технологиями партнеров</li>
                            <li>решения вопросов, связанных с имуществом</li>
                        </ui>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Гостевая B1/B2</p>
                    </div>
                    <div class="col-12">
                        <p>Оформляется заявителям, которые хотят проведать своих друзей или родственников в Америке. Эта
                            категория представляет собой разрешение пребывания на территории Штатов в течение 180 дней.
                            При этом гостевая виза в США не позволяет осуществлять частые поездки в эту страну.
                            Продолжительность Вашего визита определяется сотрудником иммиграционной службы при
                            прохождении таможенного контроля</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">По здоровью</p>
                    </div>
                    <div class="col-12">
                        <p>Виза с целью медицинского лечения в США — выдается желающим отправиться в Америку с целью
                            лечения, получения консультации врачей или прохождения оздоровительных процедур</p>
                    </div>
                </div>

                <div class="row blockC margin-top15">
                    <div class="col-12 padding-top10">
                        <p style="font-weight: bold; margin-bottom: 5px">Green Card</p>
                    </div>
                    <div class="col-12">
                        <p>Это вид на жительство США, позволяющий пользоваться почти всеми преимуществами граждан этой
                            страны. Green Card — это документ, подтверждающий наличие вида на жительство у человека, не
                            являющегося гражданином США, который даёт право постоянно проживать на территории США и
                            официально работать. Green Card и виза в Америку разные вещи. Процедура оформления визы
                            совершенно другая.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>