<!DOCTYPE html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/recomend.css' %}">
    <link rel="stylesheet" href="{% static 'css/result.css' %}">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <style>
        .helpIN{
            color: white;
            position: absolute;
            top: -20px;
            left: 5px;
        }
    </style>
    <style>
        a{ color: white; }
        a:hover{ color: white; }
        .arrows:hover{text-decoration-line: none;}
        #divId2 .col-12:hover{text-decoration-line: underline;}
    </style>
    <script src="{% static "jquery-3.3.1.min.js" %}" type="text/javascript"></script>
</head>
<body>
{% include "Tour/includes/Header.html" %}
{% include "Tour/includes/ticket.html" %}
<div id="res" style="width: 100%"></div>
<div id="rekm">{% include "recomend/includes/recomend.html" %}</div>
<script src="{% static 'js/recomend.js' %}"></script>
<script src="{% static 'js/res.js' %}"></script>
<script src="{% static 'js/Header.js' %}"></script>
<script src="{% static 'js/jq.js' %}"></script>
</body>
</html>
